<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>
   
  <div id="about"><br><br> <br>
  <div class="container-fluid">
   
    <div class="row">
      <div class="col-sm-5">
<img src="assets/about1.jpg" style="width:95%;height:90%;float:left">
      </div>
      <div class="col-sm-7" >
        <h2 style="text-decoration: underline;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;color: blue">ABOUT THE ITEMS</h2>
        <p style="font-size:17px;">
          All items are available of all manfacturing companies and all srgical items are available
          here.<br>All generic medicines are available at normal cost and all pd compaines medicines are available
         . <br>All medicines are avaliable at wholesale rates and items of nestle and dettol are avaliable at low cost
        <br>All companies medicines are available like cipla,Ranbaxy,Sunpharma,Eris,Dr.Reddy's,Mankind,Fourts
        .<br>All Genric companies including Alkem,Biochem,Horizon,Leeford,Themis,Cipla are avaliable.
        </p>

      </div>
      
    </div>
  </div>
  <div class="container-fluid">
   
    <div class="row">
      
      <div class="col-sm-7" >
        <h2 style="text-decoration: underline;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;color: blue">ABOUT THE CUSTOMERS</h2>
        <p style="font-size:17px;">
          All items are available of all manfacturing companies and all srgical items are available
          here.<br>All generic medicines are available at normal cost and all pd compaines medicines are available
         . <br>All medicines are avaliable at wholesale rates and items of nestle and dettol are avaliable at low cost
        <br>All companies medicines are available like cipla,Ranbaxy,Sunpharma,Eris,Dr.Reddy's,Mankind,Fourts
        .<br>All Genric companies including Alkem,Biochem,Horizon,Leeford,Themis,Cipla are avaliable.
        </p>

      </div>
      <div class="col-sm-5">
        <img src="assets/about3.jpg" style="width:95%;height:90%;float:right">
              </div>
      
    </div>
  </div>
  <div class="about">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4" >
        <img src="/assets/celebration1.png"><br>
        <h5 >Celebration of 25 years service</h5>
        <p >  celebrations of 25 years on may 10,2019  with our founder</p>
      </div>
      <div class="col-sm-4" >
        <img src="/assets/celebration2.JPG" >
        <h5 >Celebration for recieving best pharmacy award</h5>
        <p >  celebrations for recieving best pharmacy award in 2018 by our district Collector</p>
      </div>
    
      <div class="col-sm-4" >
        <img src="/assets/celebration4.jpg" >
        <h5 >World pharmacy day celebration</h5>
        <p >celebrations of world pharmacist day on dec27,2018 in distric head quaters</p>
      </div>
    </div>
  </div>
</div>
<div class="service">
<h1>SERVICES ARE AVALIABLE IN THESE CITIES</h1>
</div>
<ul>
  <li><a href="#home">DARSI</a></li>
  <li><a href="#news">ONGOLE</a></li>
  <li><a href="#contact">VIJAYAWADA</a></li>
  <li><a href="#about">BHIMAVARAM</a></li>
</ul>
</div>

</body>
</html>