<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Cinzel&display=swap" rel="stylesheet">
</head>
<body>
  <div id="contactus"><br><br><br>
  <div class="container center">
<div class="heading">
  <h1>CONTACT US</h1>
</div>
</div>



<div class="container-fluid bg-grey">
    <div class="row">
        <div class="col-sm-6">
            
           <h2 style="text-align:center">  For Home Delivery</h2>
           <br>
            
          <h1 style="margin-left:20%;"><i class="fas fa-phone-volume" style="display:inline-flex" > &nbsp;1234567890</i></h1>
          <br>
          <h1 style="margin-left:20%;"><i class="fas fa-envelope" style="display:inline-flex"> &nbsp;abc@gmail.com</i></h1><br>
          <h1 style="margin-left:20%;"><i class="fab fa-facebook-f"style="display:inline-flex" > &nbsp; balu</i></h1>
<br>        </div>
        <div class="col-sm-6">
            
            
           <h2 style="text-align:center">  For Quries</h2>
           <br>
            
          <h1 style="margin-left:20%;"><i class="fas fa-phone-volume" style="display:inline-flex" > &nbsp;1234567890</i></h1>
          <br>
          <h1 style="margin-left:20%;"><i class="fas fa-envelope" style="display:inline-flex"> &nbsp;abc@gmail.com</i></h1><br>
          <h1 style="margin-left:20%;"><i class="fab fa-facebook-f"style="display:inline-flex" > &nbsp; balu</i></h1>
<br>        </div>
        </div>
        
      
</div>
<br>  
 

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-7">
      <h1 style="text-align:center;font-style: italic;font-size: 45px; color:chocolate">Location</h1>
      <br>
      <img src="/assets/map.jpg" class="img-thumbnail">
    </div>
    <div class="col-sm-5">
        <br> <br> 
        <br> <br> <br> 
      <h2 style="text-decoration:underline;margin-left: 20%;color: chocolate;font-size: 45px;">ADDRESS:</h2>
    <p style="margin-left:20%; font-size: 25px;">D-No:1-23-4,Gandhi street,<br>nehru bazar,darsi-523247,
    <br>prakasam district, A.P.</p>
    </div>
  </div>
</div>

<br>
</div>












</body>
 






































  <!-- <div class="container-fluid bg-info text-white">
    
    <h3 > <span style="color:rgb(72, 255, 0);margin-left: 30%; font-style:'Cinzel'"> Proprator </span>   <span style=" margin-left:5%;">:P.V.Satyanarayana</span> </h3>
    <h3 > <span style="color:rgb(72, 255, 0);margin-left: 30%;font-style:'Cinzel'"> Mobile Num </span>   <span style=" margin-left:2.2%;">:1234567890</span> </h3>
    <h3 > <span style="color:rgb(72, 255, 0);margin-left: 30%;font-style:'Cinzel'"> Facebook</span>   <span style=" margin-left:5%;">:sdfkjnkj</span> </h3>
    <h3 > <span style="color:rgb(72, 255, 0);margin-left: 30%;font-style:'Cinzel'">Instagram </span>   <span style=" margin-left:4.3%;">:foajanjfaf</span> </h3>
    <h3 > <span style="color:rgb(72, 255, 0);margin-left: 30%;font-style:'Cinzel'"> Email-Id </span>   <span style=" margin-left:5.5%;">:abc@gmail.com</span> </h3>

    
    
     -->
    
    
    <!-- <h3 style="margin-left: 30%;"> <span style="color:red;">  Mobile Num</span>  &nbsp; :1234567890</h3>
    <h3 style="margin-left: 30%;"> <span style="color:red;"> Email-id </span>  &nbsp;  :abc@gmail.com</h3>
    <h3 style="margin-left: 30%;"> <span style="color:red;"> Facebook </span>  &nbsp;  :hdfhkzz</h3>
    <h3 style="margin-left: 30%;"> <span style="color:red;"> Instagram </span>  &nbsp;  :difz</h3>
    <h3 style="margin-left: 30%;"> <span style="color:red;"> Twitter </span>  &nbsp;  :sdkfjknjk</h3>     -->
  <!-- </div> -->
      
  

</html>