<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 
  </head>
<body>
  <app-navbar></app-navbar>
    <div id="home"><br><br><div class="name">
        <div class="container-fluid">
       
        <div class="row">
          <div class="col-sm-2">
              <!-- <img src="/assets/logo.jpg" style="text-align:left; width: 60%;height: 100%;margin-left: -9%;"> -->
          </div>
          <div class="col-sm-8">
            
              <h1 style="text-align:center;margin-top: 1%;">BALAJI MEDICAL AND</h1>
              <h2 style="text-align:center;margin-top: 1%;">FANCY STORES</h2>
          </div>
          <div class="col-sm-2"></div>
        </div>
      </div>
    </div>

<div id="demo" class="carousel slide" data-ride="carousel">
​
  <!-- Indicators -->
  <ul class="carousel-indicators" style="margin-left: 1%">
    <li data-target="#demo" data-slide-to="0" class="active"  style="transition-duration: 3s;"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
    <li data-target="#demo" data-slide-to="3"></li>
    <li data-target="#demo" data-slide-to="4"></li>
  </ul>
  
  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/assets/image1.jpg" alt="Los Angeles" width="1300" height="500" >
    </div>
    <div class="carousel-item">
      <img src="/assets/image3.jpg" alt="Chicago" width="1300" height="500" >
    </div>
    <div class="carousel-item">
      <img src="/assets/image5.jpg" alt="New York"width="1300" height="500">
    </div>
    <div class="carousel-item">
      <img src="/assets/image6.jpg" alt="New York"width="1300" height="500">
    </div>
    <div class="carousel-item">
      <img src="/assets/image7.jpg" alt="New York"width="1300" height="500">
    </div>
  </div>
  
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
<br>
<br>
<div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
        <h2>PROTINEX</h2>
        <p>A Quality product from GSK company </p>
              <img src="/assets/offer3.jpg" alt="">
              <p>price : &nbsp;  &#8377;<del>278.00</del> &nbsp;  &#8377; 225.00 </p>
              
              
        <h5>click here to buy</h5>
        <button class="btn btn-info btn-md"><strong>BUY</strong></button>
      </div>
      <div class="col-sm-4">
        <h2>NUTRIGO</h2>
        <P>A Quality product from complan company</P>
        <img src="/assets/offer2.jpg" alt="">
        <p>price : &nbsp;  &#8377;<del>230.00</del> &nbsp;  &#8377; 185.00 </p>
        
        <h5>click here to buy</h5>
        <button class="btn btn-info btn-md"><strong>BUY</strong></button>
      </div>
      <div class="col-sm-4">
          <h2>PROTIEN+</h2>
          <P>A Quality product from GSK company</P>
          <img src="/assets/offer1.jpg" alt="">
          <p>price : &nbsp;  &#8377;<del>430.00</del> &nbsp;  &#8377; 325.00 </p>
          <h5>click here to buy</h5>
          <button class="btn btn-info btn-md"><strong>BUY</strong></button>
    </div> 
  </div>
  </div>
  <br>
  <br>
  <br>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
        <h2>PAMPERS</h2>
        <p>A Quality product from GSK company </p>
              <img src="/assets/offer4.jpg" alt="">
              <p>price : &nbsp;  &#8377;<del>230.00</del> &nbsp;  &#8377; 285.00 </p>
        <h5>click here to buy</h5>
        <button class="btn btn-info btn-md"><strong>BUY</strong></button>
      </div>
      <div class="col-sm-4">
        <h2>POKO PANTS</h2>
        <P>A Quality product from DABUR company</P>
        <img src="/assets/OFFER7.jpg" alt="">
        <p>price : &nbsp;  &#8377;<del>330.00</del> &nbsp;  &#8377; 225.00 </p>
        <h5>click here to buy</h5>
        <button class="btn btn-info btn-md"><strong>BUY</strong></button>
      </div>
      <div class="col-sm-4">
          <h2>SHAMPOO</h2>
          <P>A Quality product from himalaya company</P>
          <img src="/assets/OFFER8.jpg" alt="">
          <p>price : &nbsp;  &#8377;<del>120.00</del> &nbsp;  &#8377; 95.00 </p>
          
          <h5>click here to buy</h5>
          <button class="btn btn-info btn-md"><strong>BUY</strong></button>
    </div> 
  </div>
  </div>
​</div>

</body>
</html>
​
